#qrImage{
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

body{
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}